body {

        background-image: url('file:///C:/Users/Sudhakar/Desktop/392535_331632170227340_118746963_n.jpg') ;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;    


     }